@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623580127388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghuguanli:before {
  content: "\e642";
}

.icon-peoplecopy:before {
  content: "\e624";
}

.icon-password:before {
  content: "\e734";
}

.icon-quanxianguanli:before {
  content: "\e605";
}

.icon-shangpinguanli:before {
  content: "\e7aa";
}

.icon-shujutongji:before {
  content: "\e606";
}

.icon-dingdanguanli:before {
  content: "\e601";
}

